# ----- DEPRECATED AND REPLACED BY ADD ON -----

apiVersion: v1
kind: ConfigMap
metadata:
  name: cwagentconfig
  namespace: default
data:
  cwagentconfig.json: |
    {
      "agent": {
        "region": "us-east-1",
        "metrics_collection_interval": 60,
        "run_as_user": "cwagent"
      },
      "metrics": {
        "namespace": "CWAgent",
        "metrics_collected": {
          "cpu": {
            "measurement": [
              "cpu_usage_idle",
              "cpu_usage_user"
            ],
            "metrics_collection_interval": 60
          },
          "mem": {
            "measurement": [
              "mem_used_percent"
            ],
            "metrics_collection_interval": 60
          }
        }
      }
    }
